.container {
    width: 100%;
    margin-top: 2%;
    font-family: sans-serif;
    letter-spacing: 1px;
}
  
.container h2 {
    background: rgb(0, 0, 0);
    color: ghostwhite;
    width: 75px;
    font-size: 24px;
    padding: 5px;
    height: 40px;
}
.container h2::after
{
    content: '';
        border-top: 40px solid rgb(0, 0, 0);
        border-right: 40px solid transparent;
        position: relative;
        left: 10%;
        top: 35px;
}
.row {
    margin-top: 30px;
}
  
.product-top {
    position: relative;
}
  
.product-top img {
    width: 250px; /* Adjust the desired width */
    height: auto;
}
  
.product-top:hover .overlay {
    opacity: 1;
    transition: 0.5s;
}
  
.product-bottom {
    position: relative;
    left: 42%;
    bottom: 0; /* Adjust the vertical position as needed */
    transform: translateX(-50%);
    text-align: center;
    width: 100%;
}
  
.product-bottom h3 {
    font-size: 15px;
    font-weight: bold;
    margin-bottom: 5px;
    margin-top: 10px;
}
  
.product-bottom h5 {
    font-size: 10px;
    margin-top: 5px;
    margin-bottom: 15px;
}
.overlay .fa {
    cursor: pointer;
    background-color: #fff;
    color: #000;
    height: 35px;
    width: 35px;
    font-size: 20px;
    padding: 7px;
    margin: 1%;
}
  
.overlay {
    display: block;
    opacity: 0;
    position: absolute;
    top: 15%; /* Adjusted the top value to center vertically */
    left: 15%; /* Centered the overlay horizontally */
    transform: translate(-50%, -50%); /* Centered the overlay vertically and horizontally */
    width: 70px;
}
  
.overlay .btn-secondary {
    background: transparent !important;
    border: none !important;
    box-shadow: none !important;
}

.form-control {
    width: 150px; /* Adjust the width as needed */
  }
  
  /* Move the search input to the right */
.input-group {
    margin-left: auto;
    margin-right: 0;
}

.product-modal h3 {
    font-size: 16px;
    font-weight: bold;
}
  
.product-modal h5 {
    font-size: 12px;
}