<div class="container">
  <h2>Butik</h2>
  <form class="form-inline" [formGroup]="Searchform">
    <div class="row justify-content-between align-items-center mb-3">
      <div class="col-auto">
        <button type="button" class="btn btn-dark" data-bs-toggle="modal" data-bs-target="#filtermodal">
          Filter
        </button>
      </div>
      <div class="col-auto">
        <div class="input-group">
          <input formControlName="Search" class="form-control" placeholder="Search" aria-label="Search" type="search"
            placeholder="Search">
        </div>
      </div>
    </div>
  </form>
  <div class="row">
    <div *ngFor="let item of cardData.searchedEnities" class="col-md-3">
      <div *ngIf="item.stock != 0">
        <div class="product-top">
          <img src="{{item.pictureLink}}">
          <div class="overlay">
            <button *ngIf="isProductManager" type="button" class="btn btn-secondary" title="Inspect" data-bs-toggle="modal"
              data-bs-target="#pmmodal" (click)="openInspectModal(item)"><i class="fa fa-edit"></i></button>
            <button type="button" class="btn btn-secondary" title="Inspect" data-bs-toggle="modal"
              data-bs-target="#inspectmodal" (click)="openInspectModal(item)"><i class="fa fa-eye"></i></button>
            <button type="button" class="btn btn-secondary" title="Add to cart" (click)="addToCart(item)"><i
                class="fa fa-shopping-cart"></i></button>
          </div>
        </div>
        <div class="product-bottom">
          <h3>{{item.name}}</h3>
          <h5>{{item.price}} DKK</h5>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="pagination col-md-8 p-3">
      <button class="btn btn-dark" (click)="prevPage()">Prev</button>
      <ng-container *ngFor="let page of getPages()">
        <button class="btn btn-dark" [class.btn-primary]="page === currentPage" (click)="goToPage(page)">
          {{ page }}
        </button>
      </ng-container>
      <button class="btn btn-dark" (click)="nextPage()">Next</button>
    </div>
  </div>
</div>

<!--#region filter popup-->
<div class="modal fade" id="filtermodal" tabindex="-1" aria-labelledby="errormodal" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header bg-dark text-white-50">
        <h3>Filter cards</h3>
      </div>
      <div class="modal-body">
        <div class="row d-flex flex-column">
          <div class="col-sm-4 mb-3 flex-fill">
            <label>Select Card Type</label>
            <select id="filter-type" (change)="onChangetype($event)" tabindex="-1" aria-hidden="true">
              <option>Select Card Type</option>
              <option>Effect Monster</option>
              <option>Flip Effect Monster</option>
              <option>Fusion Monster</option>
              <option>Gemini Monster</option>
              <option>Link Monster</option>
              <option>Normal Monster</option>
              <option>Normal Tuner Monster</option>
              <option>Pendulum Effect Fusion Monster</option>
              <option>Pendulum Effect Monster</option>
              <option>Pendulum Flip Effect Monster</option>
              <option>Pendulum Normal Monster</option>
              <option>Pendulum Effect Ritual Monster</option>
              <option>Pendulum Tuner Effect Monster</option>
              <option>Ritual Effect Monster</option>
              <option>Ritual Monster</option>
              <option>Skill Card</option>
              <option>Spell Card</option>
              <option>Spirit Monster</option>
              <option>Staple</option>
              <option>Synchro Monster</option>
              <option>Synchro Pendulum Effect Monster</option>
              <option>Synchro Tuner Monster</option>
              <option>Token</option>
              <option>Toon Monster</option>
              <option>Trap Card</option>
              <option>Tuner Monster</option>
              <option>Union Effect Monster</option>
              <option>XYZ Monster</option>
              <option>XYZ Pendulum Effect Monster</option>
            </select>
          </div>
          <div class="col-sm-4 mb-3 flex-fill">
            <label>Select Attribute</label>
            <select id="filter-attribute" tabindex="-1" (change)="onChangeAttribute($event)" aria-hidden="true">
              <option>Select Attributee</option>
              <option>DARK</option>
              <option>EARTH</option>
              <option>FIRE</option>
              <option>LIGHT</option>
              <option>WATER</option>
              <option>WIND</option>
              <option>DIVINE</option>
            </select>
          </div>
          <div class="col-sm-4 mb-3 flex-fill">
            <label>Select Race</label>
            <select id="filter-race" (change)="onChangeRace($event)" tabindex="-1" aria-hidden="true">
              <option>Select Race</option>
              <option>Aqua</option>
              <option>Beast</option>
              <option>Beast-Warrior</option>
              <option>Creator-God</option>
              <option>Cyberse</option>
              <option>Dinosaur</option>
              <option>Divine-Beast</option>
              <option>Dragon</option>
              <option>Fairy</option>
              <option>Fiend</option>
              <option>Fish</option>
              <option>Insect</option>
              <option>Machine</option>
              <option>Plant</option>
              <option>Psychic</option>
              <option>Pyro</option>
              <option>Reptile</option>
              <option>Rock</option>
              <option>Sea Serpent</option>
              <option>Spellcaster</option>
              <option>Thunder</option>
              <option>Warrior</option>
              <option>Winged Beast</option>
              <option>Wyrm</option>
              <option>Zombie</option>
            </select>
          </div>
        </div>
      </div>
      <div class="modal-footer bg-dark">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" (click)="filtercards()">
          Filter cards
        </button>
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
          Close
        </button>
      </div>
    </div>
  </div>
</div>
<!--#endregion-->

<!--#region product modal-->
<div class="modal fade" id="inspectmodal" tabindex="-1" aria-labelledby="errormodal" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-body">
        <h3>{{inspectCard.name}}</h3>
        <div class="row justify-content">
          <div class="col-md">
            <div class="product-top">
              <img src="{{inspectCard.pictureLink}}">
            </div>
            <div class="product-modal">
              <h3>{{inspectCard.name}}</h3>
              <h5>{{inspectCard.price}} DKK</h5>
            </div>
          </div>
          <div class="col-md justify-content-end">
            <div>
              <b>Card Type:</b> {{inspectCard.type}}
              <br>
              <b>Attribute:</b> {{inspectCard.attribute}}
              <br>
              <b>Race:</b> {{inspectCard.race}}
              <br>
              <b>Set:</b> ({{inspectCard.cardCode}})
              <br>
              <b>Stock:</b> {{inspectCard.stock}}
            </div>
          </div>
          <div class="justify-content-end">
            <button type="button" class="btn btn-dark" data-bs-dismiss="modal" (click)="addToCart(inspectCard)">
              Add to Cart
            </button>
            <button type="button" class="btn btn-dark" data-bs-dismiss="modal">
              Close
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!--#endregion-->

<!--#region edit modal-->
<div class="modal fade" id="pmmodal" tabindex="-1" aria-labelledby="errormodal" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Edit Card</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form [formGroup]="EditForm">
          <div class="mb-2">
            <label for="editName" class="form-label">Card Name</label>
            <input type="text" class="form-control w-50" id="editName" [value]="inspectCard.name" formControlName="cardName">
          </div>
          <div class="mb-2">
            <label for="editPictureLink" class="form-label">Picture Link</label>
            <input type="text" class="form-control w-50" id="editPictureLink" [value]="inspectCard.pictureLink" formControlName="cardPicturelink">
          </div>
          <div class="mb-2">
            <label for="editType" class="form-label">Card Type</label>
            <input type="text" class="form-control w-50" id="editType" [value]="inspectCard.type" formControlName="cardType">
          </div>
          <div class="mb-2">
            <label for="editAttribute" class="form-label">Attribute</label>
            <input type="text" class="form-control w-50" id="editAttribute" [value]="inspectCard.attribute" formControlName="cardAttribute">
          </div>
          <div class="mb-2">
            <label for="editRace" class="form-label">Race</label>
            <input type="text" class="form-control w-50" id="editRace" [value]="inspectCard.race" formControlName="cardRace">
          </div>
          <div class="mb-2">
            <label for="editSet" class="form-label">Set</label>
            <input type="text" class="form-control w-50" id="editSet" [value]="inspectCard.cardCode" formControlName="cardSet">
          </div>
          <div class="mb-2">
            <label for="editStock" class="form-label">Stock</label>
            <input type="number" class="form-control w-50" id="editStock" [value]="inspectCard.stock" formControlName="cardStock">
          </div>
          <div class="mb-2">
            <label for="editPrice" class="form-label">Price (DKK)</label>
            <input type="number" class="form-control w-50" id="editPrice" [value]="inspectCard.price" formControlName="cardPrice">
          </div>
          <!-- Add more fields as needed -->
          <button type="button" class="btn btn-dark" (click)="updateCard()">Save Changes</button>
          <button type="button" class="btn btn-dark" (click)="deleteCard()">Delete Card</button>
        </form>
      </div>
    </div>
  </div>
</div>
<!--#endregion-->