<div class="container h-100">
  <h2>Store</h2>
  <div class="row justify-content-end">
    <div class="col-md-3"> <!-- Adjust the column width as needed -->
      <button type="button" class="btn btn-dark" data-bs-toggle="modal" data-bs-target="#filtermodal">
        Filter
      </button>
    </div>
  </div>
  <div class="row">
    <div *ngFor="let item of cardData" class="col-md-3">
      <div class="product-top">
        <img src="{{item.pictureLink}}">
        <div class="overlay">
          <button type="button" class="btn btn-secondary" title="Inspect" data-bs-toggle="modal" data-bs-target="#inspectmodal"><i class="fa fa-eye"></i></button>
          <button type="button" class="btn btn-secondary" title="Add to cart"><i class="fa fa-shopping-cart"></i></button>
        </div>
      </div>
      <div class="product-bottom">
        <h3>{{item.name}}</h3>
        <h5>{{item.price}} DKK</h5>
      </div>
    </div>
  </div>
</div>
<div class="pagination">
    <button class="btn btn-dark" (click)="prevPage()">Prev</button>
    <button class="btn btn-dark" *ngFor="let page of getPages()" (click)="goToPage(page)">{{ page }}</button>
    <button class="btn btn-dark" (click)="nextPage()">Next</button>
</div>

<!--#region filter popup-->
<div class="modal fade" id="filtermodal" tabindex="-1" aria-labelledby="errormodal" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header bg-dark text-white-50">
        <h3>Filter cards</h3>
      </div>
      <div class="modal-body">
        <div class="row d-flex flex-column">
          <div class="col-sm-4 mb-3 flex-fill">
            <label>Select Card Type</label>
            <select id="filter-type" (change)="onChangetype($event)" tabindex="-1" aria-hidden="true">
              <option>Select Card Type</option>
              <option>Effect Monster</option>
              <option>Flip Effect Monster</option>
              <option>Fusion Monster</option>
              <option>Gemini Monster</option>
              <option>Link Monster</option>
              <option>Normal Monster</option>
              <option>Normal Tuner Monster</option>
              <option>Pendulum Effect Fusion Monster</option>
              <option>Pendulum Effect Monster</option>
              <option>Pendulum Flip Effect Monster</option>
              <option>Pendulum Normal Monster</option>
              <option>Pendulum Effect Ritual Monster</option>
              <option>Pendulum Tuner Effect Monster</option>
              <option>Ritual Effect Monster</option>
              <option>Ritual Monster</option>
              <option>Skill Card</option>
              <option>Spell Card</option>
              <option>Spirit Monster</option>
              <option>Staple</option>
              <option>Synchro Monster</option>
              <option>Synchro Pendulum Effect Monster</option>
              <option>Synchro Tuner Monster</option>
              <option>Token</option>
              <option>Toon Monster</option>
              <option>Trap Card</option>
              <option>Tuner Monster</option>
              <option>Union Effect Monster</option>
              <option>XYZ Monster</option>
              <option>XYZ Pendulum Effect Monster</option>
            </select>
          </div>
          <div class="col-sm-4 mb-3 flex-fill">
            <label>Select Attribute</label>
            <select id="filter-attribute" tabindex="-1" (change)="onChangeAttribute($event)" aria-hidden="true">
              <option>Select Attributee</option>
              <option>DARK</option>
              <option>EARTH</option>
              <option>FIRE</option>
              <option>LIGHT</option>
              <option>WATER</option>
              <option>WIND</option>
              <option>DIVINE</option>
            </select>
          </div>
          <div class="col-sm-4 mb-3 flex-fill">
            <label>Select Race</label>
            <select id="filter-race" (change)="onChangeRace($event)" tabindex="-1" aria-hidden="true">
              <option>Select Race</option>
              <option>Aqua</option>
              <option>Beast</option>
              <option>Beast-Warrior</option>
              <option>Creator-God</option>
              <option>Cyberse</option>
              <option>Dinosaur</option>
              <option>Divine-Beast</option>
              <option>Dragon</option>
              <option>Fairy</option>
              <option>Fiend</option>
              <option>Fish</option>
              <option>Insect</option>
              <option>Machine</option>
              <option>Plant</option>
              <option>Psychic</option>
              <option>Pyro</option>
              <option>Reptile</option>
              <option>Rock</option>
              <option>Sea Serpent</option>
              <option>Spellcaster</option>
              <option>Thunder</option>
              <option>Warrior</option>
              <option>Winged Beast</option>
              <option>Wyrm</option>
              <option>Zombie</option>
            </select>
          </div>
        </div>
      </div>
      <div class="modal-footer bg-dark">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" (click)="filtercards()">
          Filter cards
        </button>
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
          Close
        </button>
      </div>
    </div>
  </div>
</div>
<!--#endregion-->

<!--#region product modal-->

<div class="modal fade" id="inspectmodal" tabindex="-1" aria-labelledby="errormodal" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content" *ngFor="let item of cardData">
      <div class="modal-body">
        <h3>{{item.name}}</h3>
          <div class="row justify-content">
            <div class="col-md">
              <div class="product-top">
                <img src="{{item.pictureLink}}">
              </div>
              <div class="product-modal">
                <h3>{{item.name}}</h3>
                <h5>{{item.price}} DKK</h5>
              </div>
            </div>
            <div class="col-md justify-content-end">
              <div>
                Card Type: {{item.type}}
                <br>
                Attribute: {{item.attribute}}
                <br>
                Race: {{item.race}}
                <br>
                Set: {{item.set.setName}} ({{item.cardCode}})
                <br>
                Stock: {{item.stock}}
              </div>
            </div>
            <div class="justify-content-end">
              <button type="button" class="btn btn-dark" data-bs-dismiss="modal">
                Add to Cart
              </button>
              <button type="button" class="btn btn-dark" data-bs-dismiss="modal">
                Close
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

<!--#endregion-->