<div class="container">
    <div class="row">
      <div class="col-md-10">
        <div class="row">
          <div class="col">
            <h2>Your Cart</h2>
          </div>
        </div>
        <div *ngIf="this.cart.length === 0">
          <div class="row border-top">
            <h4>Your cart is empty.</h4>
          </div>
        </div>
  
        <div *ngIf="this.cart.length != 0">
          <div class="row border-top">
            <div class="row align-items-left">
              <div class="col-2"></div>
              <div class="col-2">Item Name</div>
              <div class="col-2">Item Amount</div>
              <div class="col-2">Item price</div>
            </div>
          </div>
          <div *ngFor="let item of this.cart" class="row border-top border-bottom">
            <div class="row align-items-center">
              <div class="col-2">
                <img class="img-fluid" src="{{item.smallImg}}" />
              </div>
              <div class="col-2">
                <div class="row">{{item.name}}</div>
              </div>
              <div class="col-2">
                <button class="btn" (click)="RemoveAmount(item)">-</button>
                <a class="border bg-light text-dark" style="text-decoration: none; padding: .5rem;">{{item.amount}}</a>
                <button class="btn" (click)="AddAmount(item)">+</button>
              </div>
              <div class="col-2">{{(item.cardPrice * item.amount).toFixed(2)}} $</div>
              <div class="col-2 align-items-right">
                <button class="btn" (click)="RemoveItem(item)">Remove &#10005;</button>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col bg-light text-dark justify-content-md-center">
        <h5>Checkout</h5>
        <p class="row border-top">Amount of items: {{TotalAmount()}}</p>
        <p class="row border-top">Total price: {{TotalPrice()}} $</p>
        <button class="btn btn-dark text-white" (click)="Purchase()">
          Purchase
        </button>
      </div>
    </div>
    <button type="button" id="errorpopup" [hidden]="true" data-bs-toggle="modal" data-bs-target="#errormodal"></button>
  </div>
  
  <!--#region error popup-->
  <!-- <div class="modal fade" id="errormodal" tabindex="-1" aria-labelledby="errormodal" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header bg-dark text-white-50">
          <h3>error</h3>
        </div>
        <div class="modal-body justify-content">
          {{this.errorMessages}}
        </div>
        <div class="modal-footer bg-dark">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
            Close
          </button>
        </div>
      </div>
    </div>
  </div> -->
  <!--#endregion-->