<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">KameGame</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText"
      aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarText">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" href="/store">Butik</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/deck">Dæksbygger</a>
        </li>
        <li class="nav-item" *ngIf="(this._login.IsProductManager | async) == true">
          <a class="nav-link" href="/create-card">Opret kort</a>
        </li>
      </ul>
      <ul class="navbar-nav mb-2 mb-lg-0 d-flex align-items-center">
        <li class="nav-item">
          <a class="nav-link" href="/cart"><i class="fa fa-shopping-cart icon-hover"></i></a>
        </li>
        <li class="nav-item" *ngIf="isLoggedReady && !(this._login.IsLogged  | async)">
          <a class="nav-link" href="/login"><i class="fa fa-sign-in"></i></a>
        </li>
        <div class="dropdown" *ngIf="(this._login.IsLogged  | async)== true">
          <div class="text-light dropdown-toggle" type="button" (click)="toggleDropdown()">
            <i class="fa fa-user icon-hover"></i>
          </div>
          <ul class="dropdown-menu bg-dark" [class.show]="this.isDropdownOpen" style="right: 0; left: auto;">
          <li><a class="dropdown-item bg-dark text-light" href="/edit-account">Rediger Profil</a></li>
            <li><a class="dropdown-item bg-dark text-light" href="">Transaktions Historik</a></li>
            <li><a class="dropdown-item bg-dark text-light" href="" (click)="logOut()">Log ud</a></li>
          </ul>
        </div>
      </ul>
    </div>
  </div>
</nav>
<router-outlet></router-outlet>
<footer class="bg-dark text-white">
  <div class="container p-3">
    <div class="row justify-content-center">
      <div class="col-5">
        <div class="row justify-content-md-around">
          <div class="col"><a href="https://www.facebook.com/"><i
                class="fa fa-brands fa fa-facebook-f fa-2x icon-hover"></i></a></div>
          <div class="col"><a href="https://twitter.com/"><i
                class="fa fa-brands fa fa-twitter fa-2x icon-hover"></i></a></div>
          <div class="col"><a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ"><i
                class="fa fa-brands fa fa-youtube fa-2x icon-hover"></i></a></div>
          <div class="col"><a href="https://github.com/GraViiX/LOR"><i
                class="fa fa-brands fa fa-github fa-2x icon-hover"></i></a></div>
          <div class="col"><a href="https://www.linkedin.com/"><i
                class="fa fa-brands fa fa-linkedin fa-2x icon-hover"></i></a></div>
          <div class="col"><a href="https://www.instagram.com/"><i
                class="fa fa-brands fa fa-instagram fa-2x icon-hover"></i></a></div>
        </div>
        <div class="row pt-2">
          <p class="text-center text-white">©2024 KameGame, Copyright</p>
        </div>
      </div>
    </div>
  </div>
</footer>