<form [formGroup]="createForm">
    <div class="mb-2">
      <label for="editName" class="form-label">Card Name</label>
      <input type="text" class="form-control w-50" id="editName" formControlName="cardName">
    </div>
    <div class="mb-2">
      <label for="editPictureLink" class="form-label">Picture Link</label>
      <input type="text" class="form-control w-50" id="editPictureLink" formControlName="cardPictureLink">
    </div>
    <div class="mb-2">
        <label>Select Card Type</label>
        <select id="filter-type" (change)="onChangetype($event)" tabindex="-1" aria-hidden="true">
          <option>Select Card Type</option>
          <option>Effect Monster</option>
          <option>Flip Effect Monster</option>
          <option>Fusion Monster</option>
          <option>Gemini Monster</option>
          <option>Link Monster</option>
          <option>Normal Monster</option>
          <option>Normal Tuner Monster</option>
          <option>Pendulum Effect Fusion Monster</option>
          <option>Pendulum Effect Monster</option>
          <option>Pendulum Flip Effect Monster</option>
          <option>Pendulum Normal Monster</option>
          <option>Pendulum Effect Ritual Monster</option>
          <option>Pendulum Tuner Effect Monster</option>
          <option>Ritual Effect Monster</option>
          <option>Ritual Monster</option>
          <option>Skill Card</option>
          <option>Spell Card</option>
          <option>Spirit Monster</option>
          <option>Staple</option>
          <option>Synchro Monster</option>
          <option>Synchro Pendulum Effect Monster</option>
          <option>Synchro Tuner Monster</option>
          <option>Token</option>
          <option>Toon Monster</option>
          <option>Trap Card</option>
          <option>Tuner Monster</option>
          <option>Union Effect Monster</option>
          <option>XYZ Monster</option>
          <option>XYZ Pendulum Effect Monster</option>
        </select>
    </div>
    <div class="mb-2">
        <label>Select Attribute</label>
        <select id="filter-attribute" tabindex="-1" (change)="onChangeAttribute($event)" aria-hidden="true">
          <option>Select Attributee</option>
          <option>DARK</option>
          <option>EARTH</option>
          <option>FIRE</option>
          <option>LIGHT</option>
          <option>WATER</option>
          <option>WIND</option>
          <option>DIVINE</option>
        </select>
    </div>
    <div class="mb-2">
        <label>Select Race</label>
        <select id="filter-race" (change)="onChangeRace($event)" tabindex="-1" aria-hidden="true">
          <option>Select Race</option>
          <option>Aqua</option>
          <option>Beast</option>
          <option>Beast-Warrior</option>
          <option>Creator-God</option>
          <option>Cyberse</option>
          <option>Dinosaur</option>
          <option>Divine-Beast</option>
          <option>Dragon</option>
          <option>Fairy</option>
          <option>Fiend</option>
          <option>Fish</option>
          <option>Insect</option>
          <option>Machine</option>
          <option>Plant</option>
          <option>Psychic</option>
          <option>Pyro</option>
          <option>Reptile</option>
          <option>Rock</option>
          <option>Sea Serpent</option>
          <option>Spellcaster</option>
          <option>Thunder</option>
          <option>Warrior</option>
          <option>Winged Beast</option>
          <option>Wyrm</option>
          <option>Zombie</option>
        </select>
    </div>
    <div class="mb-2">
      <label for="editcardNumber" class="form-label">Card number</label>
      <input type="text" class="form-control w-50" id="editNumber" formControlName="cardCode">
    </div>
    <div class="mb-2">
        <label for="editcardSetnumber" class="form-label">Set number</label>
        <input type="text" class="form-control w-50" id="editSetNumber" formControlName="cardSetNumber">
    </div>
    <div class="mb-2">
        <label for="editcardSetname" class="form-label">Set name</label>
        <input type="text" class="form-control w-50" id="editSetName" formControlName="cardSetName">
    </div>
    <div class="mb-2">
      <label for="editStock" class="form-label">Stock</label>
      <input type="number" class="form-control w-50" id="editStock" formControlName="cardStock">
    </div>
    <div class="mb-2">
      <label for="editPrice" class="form-label">Price (DKK)</label>
      <input type="number" class="form-control w-50" id="editPrice" formControlName="cardPrice">
    </div>
    <!-- Add more fields as needed -->
    <button type="button" class="btn btn-dark" (click)="createCard()">Save Changes</button>
</form>