.container {
    width: 100%;
    margin-top: 2%;
    font-family: sans-serif;
    letter-spacing: 1px;
}

.container h2 {
    background: rgb(0, 0, 0);
    color: ghostwhite;
    width: 157px;
    font-size: 24px;
    padding: 5px;
    height: 40px;
}

.container h2::after {
    content: '';
    border-top: 40px solid rgb(0, 0, 0);
    border-right: 40px solid transparent;
    position: relative;
    left: 10%;
    top: 35px;
}

.product {
    max-width: 100%;
    height: auto;
}

.product img {
    width: 200px;
}

.product-top:hover .overlay {
    opacity: 1;
    transition: 0.5s;
}

.form-control {
    width: 150px;
    /* Adjust the width as needed */
}

/* Move the search input to the right */
.input-group {
    margin-left: auto;
    margin-right: 0;
}

.product-modal h3 {
    font-size: 16px;
    font-weight: bold;
}

.product-modal h5 {
    font-size: 12px;
}

.bordered-text {
    font-size: 18px;
    font-weight: bold;
    -webkit-text-stroke: 1px darkslategray;
    user-select: none;
    cursor: default;
  }